@keyframes sprayRotate {
  from {
    transform: rotateY(0turn);
    transform: rotateX(0turn);
  }
  50% {
    transform: rotateY(1turn);
    transform: rotateZ(0turn);
  }
  to {
    transform: rotateY(0turn);
    transform: rotateX(1turn);
    transform: rotateZ(1turn);
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #eeecda;
  animation: sprayRotate 1s infinite;
  animation-delay: 0s;
}

h2 {
  color: #f08a5d;
  font-weight: 800;
  text-decoration: underline;
}

body {
  padding: 0px;
  margin: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #6a2c70;
  filter: opacity(75%);
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("assets/bgimg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(10px) grayscale(100%) sepia(100%) hue-rotate(220deg)
    brightness(80%);
}

.contentContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "intro intro sideimg"
    "solution cases sideimg"
    "solution product product";
}

.contentBox {
  display: grid;
  background-color: #b83b5fd7;
  padding: 0 1rem 1rem 1rem;
}

tr:nth-child(odd) {
  background-color: #6a2c70;
}

.imageFit {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#sideimg {
  grid-area: sideimg;
}

#product {
  grid-area: product;
  display: flex;
}

#intro {
  grid-area: intro;
}

#solution {
  grid-area: solution;
}

#solution img {
  height: 250px;
}

.centeredContent {
  text-align: center;
}

.productBox img {
  height: 250px;
}

.productBox div {
  display: flex;
}

#cases {
  grid-area: cases;
}

@keyframes buttonFlash {
  from {
    color: yellow;
  }
  50% {
    color: red;
  }
  to {
    color: yellow;
  }
}

#orderNow {
  color: #eeecda;
  background-color: red;
  border-style: dashed;
  width: 20rem;
  height: 5rem;
  font-size: 3rem;
  border-radius: 30px;
  animation: buttonFlash 1s infinite;
  padding: 5px;
  text-decoration: none;
  white-space: nowrap;
}

.sprayContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "info info sprayImage" "shippingInfo shippingInfo sprayImage";
}

#info {
  grid-area: info;
}

#sprayImage {
  grid-area: sprayImage;
  height: 250px;
}

#shippingInfo {
  grid-area: shippingInfo;
  place-self: center;
}

form {
  text-align: end;
}
form div {
  margin: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .contentContainer {
    padding: 0 1rem 0 1rem;
    grid-template-areas:
      "intro intro intro"
      "cases cases sideimg"
      "solution solution solution"
      "product product product";
  }

  .sprayContainer {
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "intro intro sideimg"
      "solution cases sideimg"
      "solution product product";
  }
}
